<!DOCTYPE html>

<p id="notice"><%= notice %></p>
<br>

<html>

<body>

<article id="main">

	<header class="special container">
		<span class="icon fa-tablet"></span>
		<h2>                به سایت اسم فامیل آنلاین خوش آمدید                  </h2>
	</header>


	<br><br><br><br>
	<div class="imagewelcome">
		<%= image_tag("esmfamil.png") %>
	</div>
	<br><br><br>
</article>
</body>

</html>
