<!DOCTYPE html>


<br>





<article id="main">



	<header class="">
		
		<h2 style= "color:#4B5C69;text-align:center">به سایت اسم فامیل آنلاین خوش آمدید</h2>
	</header>

	<div class="form-panel">
		
		<img src="/assets/esmfamil.png" width="100%">
			<% if !current_user.nil? && current_user.is_admin %>
<div>
<br><br>
      <div data-toggle="modal"  data-target="#x"  class = "btn btn-info btn-medium btn-lg btn-primary btn-purple-color"  >
        <%= t ('ایجاد خبر') %>
          
        </div>
</div>

<% end %>
	</div>

	<br><br><br>
	<div id="x" class="modal" >
   <%= render( 'news/form' ) %>
   
</div>
</article>
