<!DOCTYPE html>

<p id="notice"><%= notice %></p>
<br>

<html>

<body>
<br><br><br><br>
<div class="cent">
<h2>                به سایت اسم فامیل آنلاین خوش آمدید                  </h2>
<br><br>
<%= image_tag("esmfamil.png") %>
</div>
</body>

</html>
