<br><br><br>
<h2>لطفا منتظر بمانید...</h2>
<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script>
$(document).ready(function(){
window.setInterval(function() {
		window.location = "/game_boards/<%= @judge_board.id%>/judge";
    }, 2000);
    });
</script>