<h1>Editing game</h1>
<header class="special container">
	<span class="icon fa-tablet"></span>
	<h2>نمایش <strong>اطلاعات بازی</strong></h2>
				
</header>
<div class="contain">
<%= render 'form' %>

<%= link_to 'نمایش', @game %> |
<%= link_to 'بازگشت', games_path %>
</div>