<h1>New game</h1>


    <header class="special container">
      <span class="icon fa-tablet"></span>
      <h2><strong>بازی جدید</strong></h2>
	  <%= render 'form' %>

	   <%= link_to 'Back', games_path %>
        
    </header>
