<p id="notice"><%= notice %></p>


    <header class="special container">
      <span class="icon fa-tablet"></span>
      <h2>نمایش <strong>اطلاعات بازی</strong></h2>
        
    </header>
<br><br><br>
<section class="wrapper style2 container special-alt">
            <div class="row 50%">
              <div class="8u 12u(narrower)">

                <header>
                  <h2>بازی هنوز شروع نشده است</h2>
                </header>


                <div>
                    <%@game.number_of_players %>
                </div>
                <table class="responstable">
                  <tbody>

                <tr>
                  <th>شرکت کنندگان</th>

                </tr>
                <% @players.each do |player| %>

                    <tr>
                      <td><%= player.username %></td>
                    </tr>
                <% end %>

                </tbody>
              </table>
<br>
                <footer>
                  <ul class="buttons">
                    <li><a href="/games/new" class="button">بازی جدید</a></li>
                  </ul>
                </footer>


                <%= render 'join'%>
                </div>
                  <div class="4u 12u(narrower) important(narrower)">

                

              </div>
            </div>
          </section>

