
@font-face {
    font-family: 'BMitra';
    src: url("BMitra.eot") format("eot"), url("BMitra.woff") format("woff"), url("BMitra.ttf") format("truetype");
}
body {
    background: rgba(247, 247, 247, 0.38)!important;
    font-family: 'BMitra', verdana, arial, helvetica, sans-serif !important;
    font-size: 17px!important;
}
