// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.size{
  width: 2em;  height: 2em;}

.sizee{
  width: 8em;  height: 2em;
  position: absolute;
  margin-top: 3%;
}

.place{
  position: absolute;
  margin-top: 4%;
  margin-right: 30%;
}

.back{
  position: absolute;
  margin-top: 8%;
}
