// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.right {
  position: absolute;
  right: 0px;
//  background-color: #b0e0e6;
}

.b{
  position: absolute;
  margin-top: 3%;
  margin-right: 2%;
}

.cent{
height: 300px;
  width: 400px;
  margin:0 auto;
}